
/*================================
    GENERAL STYLES
==================================*/

@import url(http://fonts.googleapis.com/css?family=Roboto); /* GOOGLE FREE FONTS */

body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding-top: 80px;
    padding-bottom: 120px;
}

.head-set {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pad-bottom {
    padding-bottom: 60px;
}
/*================================
    NAVBAR STYLES
==================================*/
.navbar-default {
    background-color: #fff; /*rgb(35, 133, 161);*/
    border-color: #f8f8f8;
    color: #000000;
    /*height:65px;
    z-index:1999;*/
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover {
    color: rgb(35, 133, 161);
}

.nav-tabs > li > a {
    padding:20px;
}
.navbar-brand {
    padding: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color:rgb(35, 133, 161);
}

.navbar-header .navbar-toggle {
    padding: 15px 10px !important;
}

/*================================
    HOME SECTION STYLES
==================================*/

/*STYLE OF BACKGROUND IMAGE*/
#home {
    background: url(../img/home.jpg) no-repeat center center; /*Full Witdth background image*/
    padding: 0;
    -webkit-background-size: cover;
    background-size: cover;
    -moz-background-size: cover;
    min-height: 600px;
}
    /*STYLE FOR OVERLAY CLASS - WHICH IS ABOVE IMAGE WITH OPACITY/TRANSPARENCY 0.75*/
    #home .overlay {
        padding-top: 90px;
        background-color: rgba(35, 133, 161,0.75); /*.75 opacity of the color so that background image is visible*/
        min-height: 600px;
        color: #fff;
    }

    #home h1 {
        padding-top: 80px;
        font-weight: 900;
        font-size: 100px;
        font-family: 'Browallia New';
    }
/*SMPLE CLASS TO ADJUST SECTION PADDING & HEIGHT*/


/*================================
    FOOTER SECTION STYLES
==================================*/

footer {
    padding: 20px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
    background-color: rgb(35, 133, 161);
    color: #fff;
}
footer .glyphicon{font-size:20px;padding-bottom:25px;color:#fff;}

footer a, footer a:hover {
    color: #fff;
    text-decoration: none;
}
