
@{
    ViewBag.Title = "Index";
}

<div id="home">
    <div id="video-sec" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=lngtZS6NhGE',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1,mute: true,showControls:false}">
        <div class="overlay">
            <!-- overylay class usage -->
            <div class="container">
                <div style="display:none;" class="col-md-8 col-md-offset-2 text-center animate-bottom">

                    <h1>STIFE</h1>
                    <h3>Société Tuniso-Italienne de Friperie et Effilochage</h3>
                    <br />
                    <p class="p-cls">
                        <a href="#about" class="btn btn-custom btn-lg">En savoir plus</a>
                    </p>
                </div>

            </div>
        </div>
        </div>
    </div>
<!--HOME SECTION END  -->

