@using STIFE.Web.Resources

@{
    ViewBag.Title = "Index";
}

<div id="home">
    <div id="video-sec" class="player" 
         @*data-property="{videoURL:'http://localhost:63470/Content/STIFE_ENGLISH.mp4',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1,mute: true,showControls:false}">*@
         data-property="{videoURL:'https://www.youtube.com/watch?v=lngtZS6NhGE',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1,mute: true,showControls:false}">
        <div class="overlay">
            <!-- overylay class usage -->
            <div class="container">
                <div style="display:none;" class="col-md-8 col-md-offset-2 text-center animate-bottom">

                    <h1>STIFE</h1>
                    <h3>Société Tuniso-Italienne de Friperie et Effilochage</h3>
                    <br />
                    <p class="p-cls">
                        <a href="#about" class="btn btn-custom btn-lg">@Resource.LERN_MORE</a>
                    </p>
                </div>

            </div>
        </div>
        </div>
    </div>
<!--HOME SECTION END  -->

<!-- Container (Contact Section) -->
<section id="contact">
    <div class="container-fluid bg-grey">
        <div class="row">
            <div class="col-sm-5">
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
                <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
                <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
            </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Google Maps -->
    <div id="googleMap" style="height:400px;width:100%;"></div>
    @*<script>
function myMap() {
var myCenter = new google.maps.LatLng(41.878114, -87.629798);
var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position:myCenter});
marker.setMap(map);
}
    </script>*@
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script>
            var myCenter = new google.maps.LatLng(53.4577326, 9.9828083);
            function initialize() {
                var mapProp = {
                    center: myCenter,
                    zoom: 13,
                    panControl: true,
                    zoomControl: true,
                    mapTypeControl: true,
                    scaleControl: true,
                    streetViewControl: true,
                    overviewMapControl: true,
                    rotateControl: true,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

                var marker = new google.maps.Marker({
                    position: myCenter,
                    animation: google.maps.Animation.DROP,
                    //icon: '../content/img/logo.png'
                    icon: 'https://maps.google.com/mapfiles/ms/micons/blue-dot.png'
                });

                marker.setMap(map);

                var contentString = '<b>Société Tuniso-Italienne de Friperie et Effilochage</b><br/>';
                contentString += '<span style="color:red;">Z.I. EL BATEN</span><br/>';
                contentString += '<span style="color:red;">3100 Kairouan Tunisia</span><br/>';
                contentString += '<span style="color:red;">Telefon: +216 77 30 26 04</span>';

                var infowindow = new google.maps.InfoWindow({
                    position: myCenter,
                    content: contentString
                });

                infowindow.open(map, marker);
            }
            google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</section>
